/* Section Paragraphs*/
.section-1 {
  border: 2px solid black;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  font-family: Comic sans-serif;
  margin: 10px auto;
}
.section-2 {
  border: 2px dotted seagreen;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  font-family: Arial;
  margin: 10px auto;
}
.section-3 {
  border: 2px dotted orange;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  font-family: Arial;
  margin: 10px auto;
}
.section-4 {
  border: 2px solid purple;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  font-family: Comic sans-serif;
  margin: 10px auto;
}
.section-5 {
  border: 2px dashed yellow;
  overflow: auto;
  padding: 5px;
  font-size: 20px;
  font-family: Courier;
  margin: 10px auto;

}
#extra-info-ENIAC {
  font-style: italic;

}

/*Section Images/Backgrounds */
img {
  float: left;
  padding: 5px;
}

.sention-4 img{
  position: absolute;
  top: 100px;
}

.section-1 h1{
  color: Blue;
  background-color: lightblue;
  text-align: center;
}

.section-2 h1{
  background-color: lightgreen;
  color: forestgreen;
  text-align: center;
}

.section-3 h1{
  background-color: coral;
  color: firebrick;
  text-align: center;
}

.section-4 h1{
  background-color: lightcoral;
  color: crimson;
  text-align: center;
}

.section-5 h1{
  background-color: salmon;
  color: orangered;
  text-align: center;
}

/* Cat.gif Section */
.cat-gif {
text-align: center;
overflow: auto;
}

.cat-gif img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 840px;
}
